<div class="banner-home">

	<div class="banner-content">

	

	<p>
	<div class="search">
	<div class="md-form">
		<i class="far fa-lemon"></i>
    <select class="form-control-light" type="text" placeholder="Search" aria-label="Search" style="background-color: transparent; color: white; border: none; margin-top: 5px;">

    	<option>Select your favorite ingredient</option>
    </select>
    </div>
    </div>
    </p>

    <p>
		<div class="button" style ="border: solid white 1px; border-radius: 5px;">
		<button type="button" class="btn btn-outline-light" style="border: none;"> Make your cocktail !</button>
		<i class="fas fa-glass-martini"></i>
	    </div>

	</p>
   </div>
</div>



